@font-face {
    font-family: 'Affogato';
    src: url('../fonts/Affogato-Regular.woff2') format('woff2'),
        url('../fonts/Affogato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Affogato';
    src: url('../fonts/Affogato-Black.woff2') format('woff2'),
        url('../fonts/Affogato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

