*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 600px;
    padding: 1em;
    font-family: "Affogato", sans-serif;
}

input[type="text"] {
    display: block;
    font-family: "Affogato", sans-serif;
    border: 0;
}

input[type="text"]:placeholder-shown {
    opacity: 0.5;
}

input[type="text"]:placeholder-shown:hover {
    opacity: 0.7;
}

input[type="text"]:not(:placeholder-shown) {
    opacity: 1;
}

input[type="text"]:hover {
    cursor: pointer;
    border: 0.1px solid rgba(0,0,0,0.2);
}

#user-form,
#address-form {
    width: 50%;
}

#username {
    font-size: 20px;
    font-weight: 400;
}

#address {
    font-size: 14px;
}

#gauge {
    width: 410px;
    height: 292px;
    margin: auto;
    background: url("../img/gauge.svg") no-repeat center top;
}

#arc-svg {
    position: absolute;
    width: 410px;
    height: 243px;
}

#arc {
    fill: none;
    stroke-width: 72;
    stroke-miterlimit: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 730;
    transition: 0.5s ease-in-out stroke-dashoffset,
    0.5s ease-in-out stroke;
}

#budget-form {
    position: absolute;
    right: 40px;
    font-size: 14px;
}

#budget-label {
    margin: 0;
    font-size: 20px;
}

#budget:not(:placeholder-shown) {
    width: 120px;
    color: #E8CC16;
    font-size: 40px;
    font-weight: 600;
}

#carbonSpending {
    margin: 0;
    padding-top: 130px;
    text-align: center;
    font-size: 90px;
    font-weight: 900;
}

#spending-label {
    text-align: center;
    font-size: 24px;
}

#logo {
    width: 217px;
    height: 137px;
    margin: auto;
    background-image: url("../img/logo-horizontal.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.button {
    background-color: #248F2E;
    color: #fff;
    width: 100px;
    margin: 30px auto 0;
    text-align: center;
    padding: 6px;
    height: 41px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.button > p {
    position: relative;
    bottom: 11px;
}